<ion-view title="Sobre">

    <ion-nav-buttons side="right">
    </ion-nav-buttons>

    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <span>
                    Escute todos os Nerdcast's (Podcast's) online via streaming. 
                    Aplicativo simplificado para você nerd.
                </span>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <span>
                    Aplicativo não oficinal. Conteúdo disponibilizado via RSS diretamente pelo site oficial.
                </span>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <span><i class="icon ion-ionic"></i> Developer</span><br />
                <span><i class="icon ion-person"></i> Ágabo D. de Pinho</span><br />
                <span><i class="icon ion-email"></i> agabo.duarte@hotmail.com</span><br />
                <span><i class="icon ion-social-linkedin"></i> http://br.linkedin.com/in/agabo/ </span>
            </div>
        </div>
    </ion-content>

</ion-view>